<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      autoReload="true">
 
  <!--加载ASP.NET Core插件-->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
 
  <!--输出目的地-->
  <targets async="true">  

    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100" FlushTimeout="10">
      <wrapper-target xsi:type="AsyncWrapper"/>
    </default-wrapper>   
    
    <!--输出到文件,记录level为info的日志-->
    <target xsi:type="File" 
            name="info-file"
            layout="${longdate}|${uppercase:${level}}|${event-properties:item=EventId.Id}${newline}位置：${callsite:className=True:methodName=True:fileName=True:includeSourcePath=True:skipFrames=1}${newline}${message}${newline}${exception}${newline}" 
            fileName="${basedir}\logs\info\info-${shortdate}.log"
            archiveFileName="${basedir}\logs\info\info-${shortdate}.log"
            archiveAboveSize="102400"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            maxArchiveFiles="7"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            openFileFlushTimeout="10"
            encoding="UTF-8"
            autoFlush="false"
    />

    <!--输出到文件,记录level为error的日志-->
    <target xsi:type="File" 
            name="error-file" 
            layout="${longdate}|${uppercase:${level}}|${event-properties:item=EventId.Id}${newline}位置：${callsite:className=True:methodName=True:fileName=True:includeSourcePath=True:skipFrames=1}${newline}${message}${newline}${exception}${newline}" 
            fileName="${basedir}\logs\erro\error-${shortdate}.log"
            archiveFileName="${basedir}\logs\erro\error-${shortdate}.log"
            archiveAboveSize="102400"
            archiveNumbering="Rolling"
            concurrentWrites="true"
            maxArchiveFiles="7"
            keepFileOpen="true"
            openFileCacheTimeout="30"
            openFileFlushTimeout="10"
            encoding="UTF-8"
            autoFlush="false"
    />
 
    <!--write to the void aka just remove-->
    <target xsi:type="Null" name="blackhole" />
  </targets>
 
  <!--写入目的地的规则-->
  <rules>  
    <!--记录level为info的日志-->
    <!-- 跳过以Microsoft.*开头的日志 -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" level="Info" writeTo="info-file" />

    <!--记录level为error的日志-->
    <logger name="*" level="Error" writeTo="error-file" />
 
  </rules>
</nlog>